body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

button{
    border: 1px;
    border-radius: 15px;
    font-size: x-large;
    
}

button:hover{
    opacity: 0.6;
}
.calculator{
    
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 15px;
    height: 500px;
    width: 300px;
    background-color: gray;
}
.display{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    border: 2px solid black;
    border-radius: 15px;
    padding: 10px;
    height: 25%;
    background-color: rgba(214, 210, 210, 0.993);
}

.currentDisplay{
    display: flex;
    justify-content: end;
    align-items: end;
    font-size: 50px;
}

.lastDisplay{
    display: flex;
    justify-content: end;
    align-items: end;
    font-size: 25px;
}

.inputButtons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px
}

.operands{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.numbers{
    display: flex;
    flex-direction: column; 
    width: 75%;
    gap: 10px
}

.row{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.inputButtons button{
    height: 60px;
    width: 60px;
    
}

.operands button{
    background-color: orange;
}

.clearButton,.delButton{
    font-weight: bolder;
    letter-spacing: 2px;
    height: 60px;
    width: 50%;
    color: white;
}
.clearButton{
    background-color: red;
}

.delButton{
     background-color: blue;
}
.clrDelButtons{
    display: flex;
    gap: 10px;
}